body
{
    background-color: black;
}

.D
{
    font-size: 1em;
    padding: 10px;
}

.d
{
    font-size: 1.5em;
}

.index
{
    background-color: lightsteelblue;
    text-align: center;
}

.history
{
    background-color: lightcoral;
    text-align: center;
}

.types
{
    background-color: lightseagreen;
    text-align: center;
}

.Bstyles
{
    background-color: lightsalmon;
    text-align: center;
}

.directory
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
}

.directoryx
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 100px;
}





.box
{
    width: 100%;
    height: 100%;
}

.active.icon{
    display: none;
}

/* .icon
{
    height: 100px;
    width: 100%;
    background-color: blue;
} */

.icon img
{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.box1
{
    width: 100%;
    height: 30em;
    overflow: hidden;
}

.q
{
    font-size: 3em;
}

.header
{
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    justify-content: center;
}

.word
{
    background-color: wheat;
    height: 50%;
}

.wordT
{
    background-color: wheat;
    height: 50%;
}

.word1
{
    background-color: wheat;
    height: 50%;
}

.word2
{
    background-color: wheat;
    height: 50%;
    font-size: 2em;
}

.pic
{
    background-color: white;
    
}

.picT
{
    background-color: white;
    
}

.pic1
{
    background-color: wheat;
}

.pic img{
    object-fit: fill;
}

.pic1 img{
    object-fit: contain;
}

.tlarsen , .spare , .urethane , .Sreactive , .Hreactive , .Preactive , .scoring
{
    width: 100%;
    height: 100%;
}

.menu :not(:first-child)
{
    display: flex;
    flex-wrap: wrap;
    display : none;
}
.directory div.icon {
    float: right;
    display: block;
    background-color: antiquewhite;
    width: 10%;
    /*height: 10%;*/
    /* overflow: hidden; */
  }
  
.menu{
    position: relative;
}

.menu .active
{
    display: block;
}
.directory .active
{
    display: block;
}



.directory.responsive {position: relative;}
.directory.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .directory.responsive a {
    float: none;
    display: block;
    text-align: left;
  }


  .directory div.icon img{
    width: 100%;
  }

  /* quiz */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  .quiz_space {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 99vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
  }
  
  .container {  /* container to put question and answer button in */
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {  /*buttons for answer input */
    display: grid;
    grid-template-columns: repeat(1, auto);  /* the number 1 for mobile 2 for tab 4 for web */
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {  /*each button */
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
  .btn:hover { /* hover will have change in display for ans button */
    border-color: black;
  }
  
  .btn.correct { /*change colour to green when correct */
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong { /* change colour to red when wrong */
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn { /*start and next button */
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls { /* all buttons that has the control properties will be flexboxes and words will be center */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide { /* hide the content */
    display: none;
  }

/* end of quiz */


@media screen and (min-width: 720px){ /*tablet size*/
    .box
    {
        width: 50%;
        height: 100%;
    }

    
    .word{
        width: 50%;
        height: 30em;
    }
    
    .wordT{
        width: 50%;
        height: 30em;
    }
    
    .word1{
        height: 70%;
    }
    
    .pic{
        width: 50%;
    }
    
    .picT{
        width: 50%;
    }
    
    .D{
        font-size: 1.5em;
    }

    .topnav
    {
        visibility: visible;
    }

    .icon
    {
        visibility: hidden;
    }
    .menu
    {
        display: flex;
        flex-wrap: wrap;
        /* display : block; */
    }
    
    .btn-grid {  /*buttons for answer input */
        grid-template-columns: repeat(2, auto);  /* the number 1 for mobile 2 for tab 4 for web */ /*this number will change how the buttons will be layouted */
      }
    
}

@media screen and (min-width: 1440px){ /*web size*/
    .index, .types, .history, .Bstyles{
        width: 25%;
    }
    
    .word{
        width: 70%;
        height: 30em;
    }
    
    .wordT{
        width: 70%;
        height: 30em;
    }
    
    .word1{
        width: 70%;
        height: 30em;
    }
    
    .pic{
        width: 30%;
    }
    
    .picT{
        width: 30%;
        
    }
    
    .pic1{
        width: 30%;
    }
    
    .D{
        font-size: 2em;
    }

    .topnav
    {
        visibility: visible;
    }

    .icon
    {
        visibility: hidden;
    }
    .menu
    {
        display: flex;
        flex-wrap: wrap;
        display : block;
    }
    
    .btn-grid {  /*buttons for answer input */
        grid-template-columns: repeat(4, auto);  /* the number 1 for mobile 2 for tab 4 for web */ /*this number will change how the buttons will be layouted */
      }
}



